<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<!-- <ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{chat.lastText}}
    </p>
  </ion-content>
</ion-view> -->
<!-- <ion-header-bar id="news_detail_header">
  <ion-toolbar>
      <div class="header bar-stable">
        <div class="space">
          <p><p>
        </div>
        <div class="container">

          <ul class="reset">
            <li class="search-text">
              <input type="text" placeholder="Search.." class="search-input" onkeyup="search(this.value);" id="search-input" onclick="$('.smk_accordion').hide();">
              <button class="search-btn"><img src="images/search.png" alt="Search"></button>
            </li>
            <li>
              <div class="mob-menu">
                <div class="mob-nav">
                  <input class="menu-btn" type="checkbox" onclick="$('.smk_accordion').toggle();"/>
                  <label class="menu-icon" for="menu-btn"><img src="images/btn-bg.png" alt="Dashboard"></label>
                  <ul class="menu dropdown-content smk_accordion">
                  <li class="menu-titlie">Filter</li>
                  <li class="acc_active">
                   <h3>
                      <label>Sector</label>
                  </h3>
                   <ul>

                    <li ng-repeat="ft in fsector">
                       <input type="checkbox" name="filter_chkbox[]" class="filter_chkbox" id="check_{{ ft.id }}" value="{{ ft.id }}" onclick="get_filtered_records()">
                        <label for="check_{{ ft.id }}">{{ ft.value }}</label>
                    </li>
                   </ul>

                  </li>
                  <li>
                   <h3>
                      <label>Article type</label>
                    </h3>
                    <ul>

                    <li ng-repeat="ft in ftype">
                       <input type="checkbox" name="filter_chkbox[]" class="filter_chkbox" id="check_{{ ft.id }}" value="{{ ft.id }}" onclick="get_filtered_records()">
                        <label for="check_{{ ft.id }}">{{ ft.value }}</label>
                    </li>

                    </ul>
                  </li>

                </ul>
                </div>
              </div>
            </li>
            <li><a href="index.html" class="min-logo"><img src="images/mini-logo.png" alt="Mini-Logo"></a></li>
          </ul>
        </div>
      </div>
   </ion-toolbar>

</ion-header-bar> -->
<ion-view view-title="Construction Advisor" id="app_body_detail" onclick="$('.smk_accordion').hide();">

  <ion-content class="" id="news_detail">
    <div id="top-wrap">
      
      <div class="top-btn">
        <div class="container banner-btn-wrap">
          <div class=" ">
            <div class="col-sm-12 col-xs-12">
              <div class="banner-btn">
                <ul class="right-icon">
                  
                  <li>
                      <a href="javascript:void(0)" class="share-img" ng-click="OtherShare()">
                      <img src="images/share-arrow.png" alt="" title="" / >
                    </a>
                  </li>
                </ul>
                <ul style="float: left">
                  <li>
                      <a href="#/tab/chats">←</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-overlap">
        <div class="container text-potion">
          <div class="">
            <div class="col-sm-12 col-xs-12">
              <div class="banner-text">
                <h4 class="color-white">{{chat.postTitle}}</h4>
                <span class="color-white">by Construction Advisor</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-wrap">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img ng-src="{{chat.thumbnail}}" class="full-image">
            </div>
           
          </div>

          
        </div>
      </div>
     
    </div>
  <div class="">

        <div class="item item-text-wrap">
        <br />
        
          <div ng-bind-html="chat.postContent"></div>
        </div>

  </div>
  <ul id="recentnews" hidden="">
        <h3>RECENT NEWS</h3>

        <li ng-repeat="x in chat.recentnews ">
          <a href="#/tab/chats/{{x.postID}}">
          <p>
          <img ng-src="{{x.thumbnail}}" height="120" width="120" class="full-image">{{x.postTitle}}</p></a>
        </li>
  </ul>

   <ul id="ads" hidden="">
        <li ng-repeat="x in chat.ads ">
          <a href="#">
          <img ng-src="{{x.img}}" height="120" width="120" class="full-image"></a>
        </li>
  </ul>

  </ion-content>
</ion-view>
