
<ion-view>
 <!--  <ion-nav-bar class="bar bar-header bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
   
    </ion-nav-bar> -->
  <ion-content>

  <div class="result-title">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <div class="modal-title">
                    <h5>
                      <span>
                        <a href="/#/tab/chats">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                      </span>
                      SUBMIT NEWS
                    </h5>
                  </div>
          </div>
        </div>
      </div>
     </div>


    <!-- Latest - news - Section Start -->
    <section id="new-wrap">
      <div class="">
        <div class="">
          <div class="col-sm-12 col-xs-12">
             <form>
                    <div class="form-group">
                       <input type="text" class="cos-input form-control" id="full-name" placeholder="Full Name">
                    </div>
                    <div class="form-group">
                       <input type="email" class="cos-input form-control" id="email" placeholder="Email">
                    </div>
                     <div class="">
                       <textarea class="form-control" rows="10" placeholder="What’s the story?"></textarea>
                    </div>
                    <!-- <div class="mr-t15">
                      <button type="file" class="btn trns-btn">ADD PHOTOS</button>
                      <input type="file" name="pic" accept="image/*">
                    </div> -->
                    <div class="mr-t15">
                      <div class="btn yellow-btn add-file-btn">
                        <span>ADD PHOTOS</span>
                        <input type="file" class="file-btn" name="pic" accept="image/*">
                      </div>
                    </div>
                    <div class="mr-t15">
                      <button type="button" class="btn yellow-btn">SUBMIT</button>
                    </div>
                </form>
          </div>
        </div>
      </div>
     
   <!-- <div class="send-news">
    <div class="">
    <div id="newsdiv">
       <div class="news-head">
       <div class="top-news-left"><img src="images/news-icon.png" alt="news-icon"></div>
        <div class="top-news-right"><h3>Send <br><span>News</span> to us</h3></div>
        <div class="clear"></div>
        </div>
      <div class="procedure-sec">
        <ul class="reset">
          <li> <div class="left-icons"><img src="images/camera-icon.png" alt="Take a photo"></div><p>1. Take a photo</p> </li>
          <li> <div class="left-icons"><img src="images/email-icon.png" alt="E-mail"></div> <p>2. Email it to <span>news@constructionadvisor.com.au</span></p> </li>
          <li> <div class="left-icons"><img src="images/include-icon.png" alt="Include"></div> <p>3. Include <span>Photos and the story.</span> <span>Your name and phone number</span></p> </li>
          <li> <div class="left-icons"><img src="images/pay-icon.png" alt="If we use it, we'll pay you"></div> <p>4. If we use it, we'll pay you</p> </li>
        </ul>
        <br />
        <br />
      
        <div class="clear"></div>

      </div>
      
    </div>
    

    </div>
  </div> -->
    <!-- <div class="news">
    <div class="container">
    <div id="newsdiv">
       <div class="sub-news">
        <h3>Send us News</h3>
        <p>If we use it we'll pay you</p>
        <a href="mailto:news@constructionadvisor.com.au">news@constructionadvisor.com.au</a> </div>
      <div class="photo-sec">
        <ul>
          <li> <a href="#"><img src="images/photo.png" alt="Photo"></a> <span>1. Take Photo</span> </li>
          <li> <a href="#"><img src="images/mail.png" alt="E-mail"></a> <span>2. Send it to us!</span> </li>
        </ul>
      </div>
      <div class="include">
        <h3>Make sure you include :</h3>
        <p>-Your name and Number</p>
        <p>- Details of the news</p>
      </div>
    </div>
    

    </div>
  </div> -->
  </ion-content>
</ion-view>
