<ion-view view-title="Construction Advisor" id="app_body" onclick="$('.smk_accordion').hide();">
    
  <ion-content class="card-background-page">

     <div id="top-wrap">
      
      <div class="top-btn">
        <div class="container banner-btn-wrap">
          <div class=" ">
            <div class="col-sm-12 col-xs-12">
              <div class="banner-btn">
                <ul class="right-icon">
                  <li>
                  <!--   <a href="javascript:void(0);" ng-click="opensearch()">
                      <i class="fa fa-search" aria-hidden="true"></i>
                    </a> -->
                      <a href="#/tab/search" class="icon-flip">
                      <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                      <i class="icon ion-ios-search home-search" md="md-search"></i>
                      <!-- <i class="icon ion-md-search"></i> -->
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="share-img" ng-click="OtherShare()">
                      <!-- <i class="fa fa-upload" aria-hidden="true"></i> -->
                      <img src="images/share-arrow.png" alt="" title="" / >
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <!-- <div class="banner-overlap">
        <div class="container text-potion">
          <div class="">
            <div class="col-sm-12 col-xs-12">
              <div class="banner-text">
                <em class="color-white">FEATURED</em>
                <h1 class="color-white">SPA PROJECT<br> UPDATE</h1>
                <span class="color-white">by Construction Advisor</span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
     <!--  <div class="slider-wrap">
         <div id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides | limitTo:5">
          <img ng-src="{{slide.thumbnail}}">
          <div class="carousel-caption banner-text">
            h4>Slide {{$index+1}}</h4>
             <em class="color-white">FEATURED</em>
                <h1 class="color-white">{{slide.postTitle}}</h1>
                <span class="color-white">by Construction Advisor</span>
          </div>
        </slide>
      </carousel>
      
    </div>
  </div>

          
        </div> -->
        <div class="swiper-container">
    <div class="swiper-wrapper">
     <!-- <div class="swiper-slide" ng-repeat="f in slides">
     <img ng-src="{{f.thumbnail}}" alt="" title="">
     </div> -->
      <!--<div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div> -->
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
   <!--  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> -->
  </div>
      </div>
  
   
    <ion-refresher
          pulling-text="Refreshing..."
          on-refresh="doRefresh()">
        </ion-refresher>
        <div class="space">
          <p><p>
          <br />
        </div>
        <div class="title-wrap">
          <h2 class="section-hedaing color-yellow">
              LATEST NEWS
            </h2>
        </div>
        <div id="news">
          <ion-list id="newslist">
            <ion-item ng-repeat="x in news | filter:search.txt">
              <ion-thumbnail item-start>
                <div class="news-img">
                  <img src="{{x.thumbnail}}"/>
                </div>
              </ion-thumbnail>
              <div class="tumbnil-text">
                <p>{{x.categoryTitle}}</p>
                <h2><a href="#/tab/chats/{{x.postID}}">{{x.postTitle}}</a></h2>
  <!--               <p>{{x.postContent}}</p> -->
                <!-- <button ion-button clear item-end>View</button> -->
                <span ion-button clear item-end>{{x.datePosted}}</span>
              </div>
            </ion-item>
             <!-- <div class="space">
               <p><p>
             </div> -->
          </ion-list>
          <!-- <div class="card" ng-repeat="x in news | filter:search.txt">

              <div class="item item-text-wrap">
                <h2><strong><a href="#/tab/chats/{{x.postID}}">{{x.postTitle}}</a></strong></h2><br />
                <img class="full-image" src="{{x.postImage}}"/>
                <br />
                <div>{{x.postContent}}</div>
              </div>

        </div> -->
  
      </div>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>

  </ion-content>



<script>
  // $(document).ready(function () {
  //   $('.carousel').carousel({
  //       interval: 1000,
  //   });
  // });  

</script>

<script type="text/javascript">


   /* PullToRefresh.init({
    mainElement: '#news',
    onRefresh: function(){
      alert("do you want to rerfesh");
        // What do you want to do when the user does the pull-to-refresh gesture
        window.location.reload();
    }

});
 */

</script>
