
<ion-view>
  <ion-content>

  <div class="result-title">
      <div class="">
        <div class="">
          <div class="col-sm-12 col-xs-12">
            <div class="modal-title">
                    <h5>
                      <span>
                        <a href="#/tab/contribute">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                      </span>
                      SUBMIT NEWS
                    </h5>
                  </div>
          </div>
        </div>
      </div>
     </div>


    <!-- Latest - news - Section Start -->
    <section id="new-wrap">
      <div class="">
        <div class="">
          <div class="col-sm-12 col-xs-12">
            <p>Your news has been submitted to administrator successfully.</p>
          </div>
        </div>
      </div>
     
 
  </ion-content>
</ion-view>

