
<ion-view view-title="Construction Advisor">
  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
   
    </ion-nav-bar>
  <ion-content>
     

    <div class="news">
    <div class="container">
    <div id="newsdiv">
       <div class="sub-news">
        <h3>Send us News</h3>
        <p>If we use it we'll pay you</p>
        <a href="mailto:news@constructionadvisor.com.au">news@constructionadvisor.com.au</a> </div>
      <div class="photo-sec">
        <ul>
          <li> <a href="#"><img src="images/photo.png" alt="Photo"></a> <span>1. Take Photo</span> </li>
          <li> <a href="#"><img src="images/mail.png" alt="E-mail"></a> <span>2. Send it to us!</span> </li>
        </ul>
      </div>
      <div class="include">
        <h3>Make sure you include :</h3>
        <p>-Your name and Number</p>
        <p>- Details of the news</p>
      </div>
    </div>
    

    </div>
  </div>
  </ion-content>
</ion-view>
