
<ion-view>
 <!--  <ion-nav-bar class="bar bar-header bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
   
    </ion-nav-bar> -->
  <ion-content>
     
   <div class="send-news">
    <div class="container">
    <div id="newsdiv">
       <div class="news-head">
       <div class="top-news-left"><img src="images/news-icon.png" alt="news-icon"></div>
        <div class="top-news-right"><h3>Send <span>News</span> to us</h3></div>
        <div class="clear"></div>
        </div>
      <div class="procedure-sec">
        <ul class="reset">
          <li> <div class="left-icons"><img src="images/camera-icon.png" alt="Take a photo"></div><p>1. Take a photo</p> </li>
          <li> <div class="left-icons"><img src="images/email-icon.png" alt="E-mail"></div> <p>2. Email it to <span>news@constructionadvisor.com.au</span></p> </li>
          <li> <div class="left-icons"><img src="images/include-icon.png" alt="Include"></div> <p>3. Include <span>Photos and the story.</span> <span>Your name and phone number</span></p> </li>
          <li> <div class="left-icons"><img src="images/pay-icon.png" alt="If we use it, we'll pay you"></div> <p>4. If we use it, we'll pay you</p> </li>
        </ul>
        <br />
        <br />
      
        <div class="clear"></div>

      </div>
      
    </div>
    

    </div>
  </div>
    <!-- <div class="news">
    <div class="container">
    <div id="newsdiv">
       <div class="sub-news">
        <h3>Send us News</h3>
        <p>If we use it we'll pay you</p>
        <a href="mailto:news@constructionadvisor.com.au">news@constructionadvisor.com.au</a> </div>
      <div class="photo-sec">
        <ul>
          <li> <a href="#"><img src="images/photo.png" alt="Photo"></a> <span>1. Take Photo</span> </li>
          <li> <a href="#"><img src="images/mail.png" alt="E-mail"></a> <span>2. Send it to us!</span> </li>
        </ul>
      </div>
      <div class="include">
        <h3>Make sure you include :</h3>
        <p>-Your name and Number</p>
        <p>- Details of the news</p>
      </div>
    </div>
    

    </div>
  </div> -->
  </ion-content>
</ion-view>
