
<ion-view>
 <!--  <ion-nav-bar class="bar bar-header bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
   
    </ion-nav-bar> -->
  <ion-content>

  <div class="result-title">
      <div class="">
        <div class="">
          <div class="col-sm-12 col-xs-12">
            <div class="modal-title">
                    <h5>
                      <span>
                        <a href="#/tab/chats">
                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                      </span>
                      SUBMIT NEWS
                    </h5>
                  </div>
          </div>
        </div>
      </div>
     </div>


    <!-- Latest - news - Section Start -->
    <section id="new-wrap">
      <div class="">
        <div class="">
          <div class="col-sm-12 col-xs-12">
             <form id="postnewsform" name="postnewsform" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                       <input type="text" class="cos-input form-control" id="fullname" 
                       name="fullname" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                       <input type="email" class="cos-input form-control" id="email" 
                       name="email" placeholder="Email" required>
                    </div>
                     <div class="">
                       <textarea class="form-control" rows="10" id="story" name="story" placeholder="What’s the story?" required></textarea>
                    </div>
                    <!-- <div class="mr-t15">
                      <button type="file" class="btn trns-btn">ADD PHOTOS</button>
                      <input type="file" name="pic" accept="image/*">
                    </div> -->
                    <div class="mr-t15">
                      <div class="btn trns-btn add-file-btn">
                        <span>ADD PHOTOS</span>
                        <!-- <input type="file" id="file" name="file" class="file-btn"  accept="image/*" required> -->
                         <input id="file_browse1" class="file-btn" type='file' name="file" onchange="angular.element(this).scope().updateattachment('file_browse1');   $('#imagepreview').children().remove();" accept="image/*" required=""/>
                      </div>
                      <div id="imagepreview">
                        
                      </div>
                    </div>
                    <input type="hidden" name="image" id="image" value="">
                     <input type="hidden" name="filename" id="filename" value="">
                    <div class="mr-t15">
                      <button type="button" class="btn yellow-btn" onclick="postnews();">SUBMIT</button>
                    </div>
                    <div class="space">
                        <p><p>
                        <p><p>
                         <p><p>
                        <p><p>

                    </div>
                    <div class="space">
                        <p><p>
                        <p><p>
                         <p><p>
                        <p><p>
                        
                    </div>
                </form>
          </div>
        </div>
      </div>
     
   <!-- <div class="send-news">
    <div class="">
    <div id="newsdiv">
       <div class="news-head">
       <div class="top-news-left"><img src="images/news-icon.png" alt="news-icon"></div>
        <div class="top-news-right"><h3>Send <br><span>News</span> to us</h3></div>
        <div class="clear"></div>
        </div>
      <div class="procedure-sec">
        <ul class="reset">
          <li> <div class="left-icons"><img src="images/camera-icon.png" alt="Take a photo"></div><p>1. Take a photo</p> </li>
          <li> <div class="left-icons"><img src="images/email-icon.png" alt="E-mail"></div> <p>2. Email it to <span>news@constructionadvisor.com.au</span></p> </li>
          <li> <div class="left-icons"><img src="images/include-icon.png" alt="Include"></div> <p>3. Include <span>Photos and the story.</span> <span>Your name and phone number</span></p> </li>
          <li> <div class="left-icons"><img src="images/pay-icon.png" alt="If we use it, we'll pay you"></div> <p>4. If we use it, we'll pay you</p> </li>
        </ul>
        <br />
        <br />
      
        <div class="clear"></div>

      </div>
      
    </div>
    

    </div>
  </div> -->
    <!-- <div class="news">
    <div class="container">
    <div id="newsdiv">
       <div class="sub-news">
        <h3>Send us News</h3>
        <p>If we use it we'll pay you</p>
        <a href="mailto:news@constructionadvisor.com.au">news@constructionadvisor.com.au</a> </div>
      <div class="photo-sec">
        <ul>
          <li> <a href="#"><img src="images/photo.png" alt="Photo"></a> <span>1. Take Photo</span> </li>
          <li> <a href="#"><img src="images/mail.png" alt="E-mail"></a> <span>2. Send it to us!</span> </li>
        </ul>
      </div>
      <div class="include">
        <h3>Make sure you include :</h3>
        <p>-Your name and Number</p>
        <p>- Details of the news</p>
      </div>
    </div>
    

    </div>
  </div> -->
  </ion-content>
</ion-view>

