
<ion-view view-title="Notification">
  <ion-content>
  <div class="space">
          <p><p>
            <p><p>
        </div>
    <div class="card">
      <div class="item item-divider">
        <b> Notifications</b>
      </div>
     
     <div class="notification">

    <div class="container">
     
      <div class="allow">
        <div class="lf">
          <h4>Allow Notifications</h4>
        </div>
        <div class="rf">
           <ion-toggle ng-Model="notifyMe.SendNotification" ng-change="notify()"></ion-toggle>
          </div>
        
        <div class="clearfix"></div>
      </div>
      <div class="sub-allow"> </div>
    </div>
  </div>
  
    
      
      </div>
  </div>
  </ion-content>
</ion-view>
