
<ion-view>
 <!--  <ion-nav-bar class="bar bar-header bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
   
    </ion-nav-bar> -->
  <ion-content>
     

     <div class="notification">
    <div class="container">
      <div class="sub-noti">
        <h3>Notifications</h3>
      </div>
      <div class="allow">
        <div class="lf">
          <h4>Allow Notifications</h4>
        </div>
        <div class="rf">
           <ion-toggle ng-Model="notifyMe.SendNotification" ng-change="notify()"></ion-toggle>
          </div>
        
        <div class="clearfix"></div>
      </div>
      <div class="sub-allow"> </div>
    </div>
  </div>
  </ion-content>
</ion-view>
