
<ion-view view-title="Notification">
  <ion-content>
   
  <div class="space">
          <p><p>
            <p><p>
        </div>
    <div class="container">
                        <div class="row">
                          <div class="col-sm-12 col-xs-12">
                            <div class="modal-title">
                                    <h5>
                                      <span>
                                        <a href="#/tab/chats">
                                          <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </a>
                                      </span>
                                      SETTINGS
                                    </h5>
                                  </div>
                          </div>
                        </div>
                      </div>
  <!--   <div class="card"> 
      <div class="item item-divider">
        <b> Notifications</b>
      </div>-->
     
     <div class="notification">

    <div class="container">
      <div class="form-group">
        <div class="seting-wrap">
          <p>Notifications</p>
          <div class="switch">
            <!-- <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
            <label for="cmn-toggle-4"></label> -->
             <ion-toggle ng-Model="notifyMe.SendNotification" ng-change="notify()"></ion-toggle>
          </div>
        </div>
      </div>
      <!-- <div class="allow">
        <div class="lf">
          <h4>Allow Notifications</h4>
        </div>
        <div class="rf">
           <ion-toggle ng-Model="notifyMe.SendNotification" ng-change="notify()"></ion-toggle>
          </div>
        
        <div class="clearfix"></div>
      </div> -->
      <div class="sub-allow"> </div>
    </div>
    
  </div>
  
    
      
     <!--  </div> -->
  </div>
  <div class="copy-text">
      <p>
        <a href="https://constructionadvisor.com.au/" target="_blank">
          Copyright 2018 by Construction Advisor All Rights Reserved
        </a>
      </p>
    </div>
  </ion-content>
</ion-view>
